<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 的 CSS 文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>FinancialManagement</title>
    <style type="text/css">
    .style1 {
        position: relative;
    }
    </style>
</head>

<body>
    {if $tag===1}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">财务管理</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{:url('account/index')}"><i class="bi bi-person-circle"></i>&nbsp;我的账户</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{:url('add/index')}"><i class="bi bi-pencil"></i>&nbsp;记一笔</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-piggy-bank"></i>&nbsp;账单明细
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          {volist name="Subjects" id="subject" key="key"}
                           <li><a class="dropdown-item" href="{:url('detail/index?subject='.$subject['id'] )}">{$subject['name']}</a></li>
                            {/volist}
                            <li>  
                              <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{:url('detail/index')}">总明细</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 菜单结束 -->
    {/if}
    {if $tag===2}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">财务管理</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link  " aria-current="page" href="{:url('user/index')}"><i class="bi bi-file-person-fill"></i></i>&nbsp;人员管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('subject/index')}"><i class="bi bi-calendar2-fill"></i>&nbsp;科目管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{:url('account/edit')}"><i class="bi bi-pencil"></i>&nbsp;修改密码</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('Login/logout')}"><i class="bi bi-power"></i>&nbsp;注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 菜单结束 -->
    {/if}
    <div class="d-flex flex-column bd-highlight mb-3 border ">
        <div class="p-2 bd-highlight m-auto"><b>修改密码</b><br>
             <input id="return" name="Submit" type="submit" class="btn btn-light style1" style="left: 9rem;" onclick="javascript:history.back();" value="返回" />
        </div>
        <div class="d-flex flex-row-reverse bd-highlight mb-3">
        <form class="form-inline m-auto" method="post" action="{:url('update')}">
            <input type="hidden" name="id" value="{$User->id}">
            <div class="row">
                <div class="p-2 bd-highlight  col-6">
                    <label for="oldPassword" class="style1" style="top:0.5rem;"><b>原密码：</b> </label>
                </div>
                <div class="p-2 bd-highlight col-6 style1" style="right: 2rem;">
                    <input  class="form-control-plaintext border" type="password" id="oldPassword" name="oldPassword"  value="">
                </div>
            </div>
            <div class="row">
                <div class="p-2 bd-highlight  col-6">
                    <label for="password" class="style1" style="top:0.5rem;"><b>新密码：</b> </label>
                </div>
                <div class="p-2 bd-highlight col-6 style1" style="right: 2rem;">
                    <input class="form-control-plaintext border" type="password" id="password" name="password"  value="">
                </div>
            </div>
            <div class="row">
                <div class="p-2 bd-highlight  col-6">
                    <label for="newPasswordAgain" class="style1" style="top:0.5rem;"><b>确认新密码：</b> </label>
                </div>
                <div class="p-2 bd-highlight col-6 style1" style="right: 2rem;">
                    <input  class="form-control-plaintext border" type="password" id="newPasswordAgain" name="newPasswordAgain"  value="">
                    <button type="submit" class="btn btn-secondary style1" style="top: 2rem;">保存</button>
                </div>
            </div>
            
        </form>
    </div>
    <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>