<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 的 CSS 文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>FinancialManagement</title>
    <style>
    .style1 {
        position: relative;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">财务管理</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link  active" aria-current="page" href="{:url('user/index')}"><i class="bi bi-file-person-fill"></i></i>&nbsp;人员管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('subject/index')}"><i class="bi bi-calendar2-fill"></i>&nbsp;科目管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('account/edit')}"><i class="bi bi-pencil"></i>&nbsp;修改密码</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{:url('Login/logout')}"><i class="bi bi-power"></i>&nbsp;注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 菜单结束 -->
    <hr>
    <div class="text-center">
        <button class="btn btn-secondary">
            人员管理
        </button>
    </div>
    <br>
    <div class="d-flex flex-row bd-highlight m-auto">
        <form class="form-inline m-auto">
            <div class="row">
                <label class="sr-only col-2  bd-highlight style1" style="left: 1.5rem;top: 0.2rem;" for="name">名称</label>
                <div class="col-4 bd-highlight"> <input name="name" type="text" class="form-control  form-control-sm" placeholder="名称..." value={:input('get.name')}>
                </div>
                <div class="col-3  bd-highlight">
                    <button type="submit" class="btn btn-secondary btn-sm"><i class="bi bi-search"></i>&nbsp;查询</button>
                </div>
                <div class="col-3  bd-highlight">
                    <a href="{:url('add')}" class="btn  btn-primary btn-sm">
                        <i class="bi bi-plus-square"></i>&nbsp;新增
                    </a>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">姓名</th>
                <th scope="col">用户名</th>
                <th scope="col">密码</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            {volist name="Users" id="user" key="key"}
            <tr>
                <th scope="row">{$key}</th>
                <td>{$user->name}</td>
                <td>{$user->username}</td>
                <td>{$user->password}</td>
                <td>
                    <a href="{:url('edit?id='.$user->id)}" class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i>编辑</a>
                    <a href="{:url('delete?id='.$user->id)}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>删除</a>
                </td>
            </tr>
             {/volist}  
        </tbody>
    </table>
    {$Users->render()}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>